aiohttp==3.8.1
aiosignal==1.2.0
anyio==3.5.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asttokens==2.0.5
async-timeout==4.0.2
attrs==21.2.0
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
bokeh==2.4.2
bqskit==0.4.1
bqskitrs==0.1.0b2
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.6
click==8.0.3
cloudpickle==2.0.0
cryptography==35.0.0
cycler==0.11.0
Cython==0.29.28
dask==2021.10.0
dask-mpi==2021.11.0
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
distributed==2021.10.0
dlx==1.0.4
docplex==2.22.213
docutils==0.18.1
entrypoints==0.4
executing==0.8.3
fastdtw==0.3.4
fastjsonschema==2.15.1
fonttools==4.29.0
frozenlist==1.3.0
fsspec==2021.10.1
graphviz==0.17
h5py==3.2.1
HeapDict==1.0.1
idna==3.2
inflection==0.5.1
ipykernel==6.9.1
ipython==8.1.1
jedi==0.18.1
Jinja2==2.11.3
joblib==1.0.1
jsonschema==4.0.1
jupyter-client==7.1.2
jupyter-core==4.9.2
jupyter-server==1.15.3
jupyter-server-proxy==3.2.1
jupyterlab-pygments==0.1.2
kiwisolver==1.3.2
lark-parser==0.12.0
locket==0.2.1
lxml==4.6.3
MarkupSafe==2.0.1
matplotlib==3.5.1
matplotlib-inline==0.1.3
mistune==0.8.4
more-itertools==8.10.0
mpmath==1.2.1
msgpack==1.0.2
multidict==6.0.2
multitasking==0.0.9
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.2.0
nest-asyncio==1.5.4
networkx==2.6.3
ntlm-auth==1.5.0
numpy==1.21.2
packaging==21.2
pandas==1.3.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.2.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
ply==3.11
prometheus-client==0.13.1
prompt-toolkit==3.0.28
psutil==5.8.0
ptyprocess==0.7.0
pure-eval==0.2.2
pybind11==2.7.1
pycparser==2.20
Pygments==2.11.2
pyparsing==2.4.7
pyrsistent==0.18.0
python-constraint==1.4.0
python-dateutil==2.8.2
pytket==0.15.0
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
qiskit==0.30.1
qiskit-aer==0.9.0
qiskit-aqua==0.9.5
qiskit-ibmq-provider==0.16.0
qiskit-ignis==0.6.0
qiskit-terra==0.18.3
-e git+https://github.com/BQSKit/qsearch.git@dev#egg=qsearch
qsrs==2.0.0
Quandl==3.6.1
requests==2.26.0
requests-ntlm==1.1.0
retworkx==0.10.2
scikit-learn==1.0
scipy==1.7.1
Send2Trash==1.8.0
simpervisor==0.4
six==1.16.0
sniffio==1.2.0
sortedcontainers==2.4.0
soupsieve==2.3.1
stack-data==0.2.0
statistics==1.0.3.5
symengine==0.8.1
sympy==1.8
tblib==1.7.0
terminado==0.13.3
testpath==0.6.0
threadpoolctl==3.0.0
toolz==0.11.1
tornado==6.1
traitlets==5.1.1
tweedledum==1.1.1
types-Jinja2==2.11.6
types-MarkupSafe==1.1.6
types-pkg-resources==0.1.3
typing-extensions==3.10.0.2
urllib3==1.26.7
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==1.2.1
yarl==1.7.2
yfinance==0.1.63
zict==2.0.0
